body {
	padding-top: 60px;
	padding-bottom: 40px;
}

/* page layout */
.copyright{
	text-align:center;
}

/*Map outer components (created on the page)*/
#layerBarContainer{
	width:100%;
	background-color:#f1f1f1
}
#mapContainer {
	width:100%;
	height:300px
}


/*Map inner components (created at by mapManager)*/
ul {
	list-style-type: none;
	padding: 5px;
	margin: 0px;
}
.layerHeading {
	list-style-type:disc;
	margin-left:10px;
}
.layerHeading li a:link{
	color: #333333;
	font-size:0.8em;
}
.layer_plot_button:link{
	line-height:40px;
}

.layer_toggle_button:link{
	line-height:40px;
}
.mapBarContainer li, .layerHeading li { background: #f1f1f1; }
.mapBarContainer li:nth-child(odd) { background: #FFFFFF; }
.layerContainer li { background: none !important; }